@using CMS.Web.Base;
@using CMS.Models;
@{
    ViewBag.Title = "Bảng Giá";
}
<div style="padding-top: 10px">
    <div href="#" class="wow wing">
        <img src="~/images/Bảng giá GIẶT LÀ-1.jpg" style="width: 100%;"/>
        <img src="~/images/Bảng giá GIẶT LÀ-2.jpg" style="width: 100%;"/>
        <img src="~/images/Bảng giá GIẶT LÀ-3.jpg" style="width: 100%;"/>
        <img src="~/images/Bảng giá GIẶT LÀ-4.jpg" style="width: 100%;"/>

    </div>
</div>