@using CMS.Web.Base;
@using CMS.Models;
@{
    ViewBag.Title = "Dangky";
}
@*<div>
    <br />
    <h2>Bạn đã đăng ký</h2>
    <br />
</div>*@

<div style="padding: 150px 20px 150px 20px; text-align: center">Người dùng đã tồn tại!</h3>
</div>