USE [master]
GO
/****** Object:  Database [cms_qlgiatla]    Script Date: 4/28/2020 6:17:58 PM ******/
CREATE DATABASE [cms_qlgiatla]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'cms_qlgiatla', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\cms_qlgiatla.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'cms_qlgiatla_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\cms_qlgiatla_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [cms_qlgiatla].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [cms_qlgiatla]
GO
/****** Object:  User [dbCMS_GreenWood]    Script Date: 4/28/2020 6:17:58 PM ******/
CREATE USER [dbCMS_GreenWood] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbCMS_GreenWood]
GO
/****** Object:  Schema [auth]    Script Date: 4/28/2020 6:17:58 PM ******/
CREATE SCHEMA [auth]
GO
/****** Object:  Schema [dbCMS_GreenWood]    Script Date: 4/28/2020 6:17:58 PM ******/
CREATE SCHEMA [dbCMS_GreenWood]
GO
/****** Object:  Schema [tthc]    Script Date: 4/28/2020 6:17:58 PM ******/
CREATE SCHEMA [tthc]
GO
/****** Object:  Table [auth].[AccessTokens]    Script Date: 4/28/2020 6:17:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [auth].[AccessTokens](
	[AccessTokenId] [int] IDENTITY(1,1) NOT NULL,
	[Token] [char](200) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[EffectiveTime] [datetimeoffset](7) NOT NULL,
	[ExpiresIn] [int] NOT NULL,
	[UserAgent] [varchar](200) NOT NULL,
	[IP] [varchar](20) NOT NULL,
 CONSTRAINT [PK_AccessTokens_1] PRIMARY KEY CLUSTERED 
(
	[AccessTokenId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [auth].[Users]    Script Date: 4/28/2020 6:17:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [auth].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[LoaiTaiKhoanID] [int] NULL,
	[UserName] [varchar](50) NOT NULL,
	[Email] [varchar](100) NULL,
	[PasswordSalt] [char](5) NOT NULL,
	[Password] [varchar](50) NULL,
	[CreatedTime] [datetime] NULL,
	[LastLogin] [datetime] NULL,
	[Lang] [varchar](2) NULL,
	[Active] [bit] NOT NULL,
	[HoTen] [int] NULL,
	[SoDienThoai] [varchar](20) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[CoSoID] [int] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDoGiat]    Script Date: 4/28/2020 6:17:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDoGiat](
	[ChiTietDoGiatID] [int] IDENTITY(1,1) NOT NULL,
	[KhachDatHangID] [int] NULL,
	[DoGiatID] [int] NULL,
	[HinhThucGiatID] [int] NULL,
	[SoLuong] [int] NULL,
 CONSTRAINT [PK_ChiTietDoGiat] PRIMARY KEY CLUSTERED 
(
	[ChiTietDoGiatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CoSo]    Script Date: 4/28/2020 6:17:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CoSo](
	[CoSoID] [int] IDENTITY(1,1) NOT NULL,
	[TenCoSo] [nvarchar](200) NULL,
	[LoaiCoSo] [int] NULL,
	[DiaChi] [nvarchar](500) NULL,
 CONSTRAINT [PK_CoSo] PRIMARY KEY CLUSTERED 
(
	[CoSoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoGiat]    Script Date: 4/28/2020 6:17:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoGiat](
	[DoGiatID] [int] IDENTITY(1,1) NOT NULL,
	[LoaiDoGiatID] [int] NULL,
	[TenDoGiat] [nvarchar](100) NULL,
	[PCS] [nvarchar](100) NULL,
 CONSTRAINT [PK_DoGiat] PRIMARY KEY CLUSTERED 
(
	[DoGiatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonGia]    Script Date: 4/28/2020 6:17:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonGia](
	[DonGiaID] [int] IDENTITY(1,1) NOT NULL,
	[HinhThucGiatID] [int] NULL,
	[DoGiatID] [int] NULL,
	[DonGiaGiat] [int] NULL,
	[GhiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_DonGia] PRIMARY KEY CLUSTERED 
(
	[DonGiaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HinhThucGiat]    Script Date: 4/28/2020 6:17:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HinhThucGiat](
	[HinhThucGiatID] [int] IDENTITY(1,1) NOT NULL,
	[TenHinhThuc] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_HinhThucGiat] PRIMARY KEY CLUSTERED 
(
	[HinhThucGiatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachDatHang]    Script Date: 4/28/2020 6:17:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachDatHang](
	[KhachDatHangID] [int] IDENTITY(1,1) NOT NULL,
	[NguoiDungID] [int] NULL,
	[NgayDat] [date] NULL,
	[GioDat] [int] NULL,
	[GhiChu] [nvarchar](max) NULL,
	[ThanhTien] [int] NULL,
	[TinhTrangXuLy] [int] NULL,
	[HinhThucThanhToan] [int] NULL,
	[TinhTrangThanhToan] [int] NULL,
	[UserID] [int] NULL,
 CONSTRAINT [PK_KhachDatHang] PRIMARY KEY CLUSTERED 
(
	[KhachDatHangID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Leave_Request]    Script Date: 4/28/2020 6:18:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Leave_Request](
	[Id] [int] NOT NULL,
	[User_LeaveID] [int] NULL,
	[User_ApproveID] [int] NULL,
	[TimeStart] [datetime] NULL,
	[TimeEnd] [datetime] NULL,
	[Reason] [nvarchar](max) NULL,
 CONSTRAINT [PK_Leave_Requesr] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LienHe]    Script Date: 4/28/2020 6:18:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LienHe](
	[LienHeID] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[SoDienThoai] [varchar](20) NULL,
	[NoiDung] [nvarchar](max) NULL,
 CONSTRAINT [PK_LienHe] PRIMARY KEY CLUSTERED 
(
	[LienHeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiDoGiat]    Script Date: 4/28/2020 6:18:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiDoGiat](
	[LoaiDoGiatID] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiDoGiat] [nvarchar](50) NULL,
	[MoTa] [nvarchar](max) NULL,
 CONSTRAINT [PK_LoaiDoGiat] PRIMARY KEY CLUSTERED 
(
	[LoaiDoGiatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiTaiKhoan]    Script Date: 4/28/2020 6:18:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiTaiKhoan](
	[LoaiTaiKhoanID] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](50) NULL,
 CONSTRAINT [PK_LoaiTaiKhoan] PRIMARY KEY CLUSTERED 
(
	[LoaiTaiKhoanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LuotTruyCap]    Script Date: 4/28/2020 6:18:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LuotTruyCap](
	[LuotTruyCapId] [int] IDENTITY(1,1) NOT NULL,
	[IP] [varchar](50) NULL,
	[ThoiGian] [datetime] NULL,
	[ThietBi] [nvarchar](max) NULL,
	[TrangTruyCapDauTien] [nvarchar](max) NULL,
 CONSTRAINT [PK_LuotTruyCap] PRIMARY KEY CLUSTERED 
(
	[LuotTruyCapId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 4/28/2020 6:18:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[NguoiDungID] [int] IDENTITY(1,1) NOT NULL,
	[TenNguoiDung] [nvarchar](100) NULL,
	[SoDienThoai] [varchar](15) NULL,
	[SoKhac] [varchar](15) NULL,
	[DiaChi] [nvarchar](150) NULL,
	[TaiKhoan] [nvarchar](50) NULL,
	[Facebook] [varchar](50) NULL,
	[Gmail] [varchar](100) NULL,
	[DiemThuong] [int] NULL,
 CONSTRAINT [PK_NguoiDung] PRIMARY KEY CLUSTERED 
(
	[NguoiDungID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 4/28/2020 6:18:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[NhanVienID] [int] NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[SoDienThoai] [varchar](20) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[CoSoID] [int] NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[NhanVienID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [auth].[AccessTokens] ON 

INSERT [auth].[AccessTokens] ([AccessTokenId], [Token], [UserName], [EffectiveTime], [ExpiresIn], [UserAgent], [IP]) VALUES (4, N'NDF5NmFkbXJGdWtUelFnMTNDM3QyeE1pNDR2YVRCM0FWeHY4U3RWTVNqWT06M2I3NzRlNjAtYzFlZS00ZDM2LWEyZjYtNDNiOWQzYWRiYTNlOjE3Om5naGlhaGQ6NjM3MDEyMzAxMjgyMzQzNDY2                                                    ', N'nghiahd', CAST(N'2019-08-12T18:08:48.2343466+07:00' AS DateTimeOffset), 360000, N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/75.0.3770.142 Safari/537.36', N'')
INSERT [auth].[AccessTokens] ([AccessTokenId], [Token], [UserName], [EffectiveTime], [ExpiresIn], [UserAgent], [IP]) VALUES (1029, N'bmltTmZHS0NWU0VwdjUyMVYwNGdnM3JSb21ua0t3OWMyenBZNVRCeDFqND06YzA2MWFiYmUtZTg2OS00MmVlLTliMjgtMDU0Zjk3YjBmMGRkOjE0OmtoYW5odHE6NjM3MTAwMzc3NzI4NTA3MjI2                                                    ', N'khanhtq', CAST(N'2019-11-22T16:42:52.8507226+07:00' AS DateTimeOffset), 360000, N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/78.0.3904.108 Safari/537.36', N'')
INSERT [auth].[AccessTokens] ([AccessTokenId], [Token], [UserName], [EffectiveTime], [ExpiresIn], [UserAgent], [IP]) VALUES (1030, N'czVtT2E4UTF6MEtVT0JnSlhtN0p3ZFpjZFZ3ekV4aW1OSzdBSjJuK0VOUT06YTg2NmY1MzEtYmI2Yi00MjZjLWJmYWItOGY0NWU4YTA5N2I5OjE0OmtoYW5odHE6NjM3MTAxODY3ODgzMDY4NTU2                                                    ', N'khanhtq', CAST(N'2019-11-24T10:06:28.3068556+07:00' AS DateTimeOffset), 360000, N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/78.0.3904.108 Safari/537.36', N'')
SET IDENTITY_INSERT [auth].[AccessTokens] OFF
SET IDENTITY_INSERT [auth].[Users] ON 

INSERT [auth].[Users] ([UserId], [LoaiTaiKhoanID], [UserName], [Email], [PasswordSalt], [Password], [CreatedTime], [LastLogin], [Lang], [Active], [HoTen], [SoDienThoai], [DiaChi], [CoSoID]) VALUES (10, 4, N'admin', N'test@gmail.com', N'jt27z', N'f18b0f18563382377c80737e8aa0098c', CAST(N'2018-01-01T00:00:00.000' AS DateTime), NULL, NULL, 1, NULL, NULL, NULL, NULL)
INSERT [auth].[Users] ([UserId], [LoaiTaiKhoanID], [UserName], [Email], [PasswordSalt], [Password], [CreatedTime], [LastLogin], [Lang], [Active], [HoTen], [SoDienThoai], [DiaChi], [CoSoID]) VALUES (14, 2, N'khanhtq', N'', N'jmy6z', N'fd97e38a8d0be6bf1589ff94b3c57d16', CAST(N'2019-01-01T00:00:00.000' AS DateTime), NULL, NULL, 1, NULL, NULL, NULL, NULL)
INSERT [auth].[Users] ([UserId], [LoaiTaiKhoanID], [UserName], [Email], [PasswordSalt], [Password], [CreatedTime], [LastLogin], [Lang], [Active], [HoTen], [SoDienThoai], [DiaChi], [CoSoID]) VALUES (15, 2, N'My', NULL, N'4ztzw', N'e040e6ce1437b0213a853d4d2d4517d4', CAST(N'2020-02-27T19:41:07.527' AS DateTime), NULL, NULL, 1, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [auth].[Users] OFF
SET IDENTITY_INSERT [dbo].[ChiTietDoGiat] ON 

INSERT [dbo].[ChiTietDoGiat] ([ChiTietDoGiatID], [KhachDatHangID], [DoGiatID], [HinhThucGiatID], [SoLuong]) VALUES (14, NULL, 1, 2, 123)
INSERT [dbo].[ChiTietDoGiat] ([ChiTietDoGiatID], [KhachDatHangID], [DoGiatID], [HinhThucGiatID], [SoLuong]) VALUES (34, 7, 1, 2, 2)
INSERT [dbo].[ChiTietDoGiat] ([ChiTietDoGiatID], [KhachDatHangID], [DoGiatID], [HinhThucGiatID], [SoLuong]) VALUES (36, 9, 1, 1, 3)
SET IDENTITY_INSERT [dbo].[ChiTietDoGiat] OFF
SET IDENTITY_INSERT [dbo].[DoGiat] ON 

INSERT [dbo].[DoGiat] ([DoGiatID], [LoaiDoGiatID], [TenDoGiat], [PCS]) VALUES (1, 1, N'áo sơ mi', N'abc')
INSERT [dbo].[DoGiat] ([DoGiatID], [LoaiDoGiatID], [TenDoGiat], [PCS]) VALUES (3, 2, N'Chăn', N'aaa')
INSERT [dbo].[DoGiat] ([DoGiatID], [LoaiDoGiatID], [TenDoGiat], [PCS]) VALUES (4, 1002, N'Áo da', NULL)
SET IDENTITY_INSERT [dbo].[DoGiat] OFF
SET IDENTITY_INSERT [dbo].[DonGia] ON 

INSERT [dbo].[DonGia] ([DonGiaID], [HinhThucGiatID], [DoGiatID], [DonGiaGiat], [GhiChu]) VALUES (2, 2, 1, 20000, N'abc')
INSERT [dbo].[DonGia] ([DonGiaID], [HinhThucGiatID], [DoGiatID], [DonGiaGiat], [GhiChu]) VALUES (4, 1, 3, 444, NULL)
INSERT [dbo].[DonGia] ([DonGiaID], [HinhThucGiatID], [DoGiatID], [DonGiaGiat], [GhiChu]) VALUES (5, 5, 3, 25000, N'')
SET IDENTITY_INSERT [dbo].[DonGia] OFF
SET IDENTITY_INSERT [dbo].[HinhThucGiat] ON 

INSERT [dbo].[HinhThucGiat] ([HinhThucGiatID], [TenHinhThuc], [GhiChu]) VALUES (1, N'Giặt ướt', NULL)
INSERT [dbo].[HinhThucGiat] ([HinhThucGiatID], [TenHinhThuc], [GhiChu]) VALUES (2, N'Giặt khô', N'm')
INSERT [dbo].[HinhThucGiat] ([HinhThucGiatID], [TenHinhThuc], [GhiChu]) VALUES (5, N'Là hơi', N'')
SET IDENTITY_INSERT [dbo].[HinhThucGiat] OFF
SET IDENTITY_INSERT [dbo].[KhachDatHang] ON 

INSERT [dbo].[KhachDatHang] ([KhachDatHangID], [NguoiDungID], [NgayDat], [GioDat], [GhiChu], [ThanhTien], [TinhTrangXuLy], [HinhThucThanhToan], [TinhTrangThanhToan], [UserID]) VALUES (4, 1002, CAST(N'2012-12-12' AS Date), 1, N'aaa', 327000, 1, 1, 2, NULL)
INSERT [dbo].[KhachDatHang] ([KhachDatHangID], [NguoiDungID], [NgayDat], [GioDat], [GhiChu], [ThanhTien], [TinhTrangXuLy], [HinhThucThanhToan], [TinhTrangThanhToan], [UserID]) VALUES (7, 1003, CAST(N'2020-01-24' AS Date), 2, N'abc', 40000, 2, 2, 1, NULL)
INSERT [dbo].[KhachDatHang] ([KhachDatHangID], [NguoiDungID], [NgayDat], [GioDat], [GhiChu], [ThanhTien], [TinhTrangXuLy], [HinhThucThanhToan], [TinhTrangThanhToan], [UserID]) VALUES (9, 1002, CAST(N'2020-01-16' AS Date), 2, N'không dùng xả', 90000, 1, 1, 1, NULL)
SET IDENTITY_INSERT [dbo].[KhachDatHang] OFF
INSERT [dbo].[Leave_Request] ([Id], [User_LeaveID], [User_ApproveID], [TimeStart], [TimeEnd], [Reason]) VALUES (1, 10, 14, CAST(N'2020-04-16T12:00:00.000' AS DateTime), CAST(N'2020-04-16T13:00:00.000' AS DateTime), N'Nghỉ sơm')
SET IDENTITY_INSERT [dbo].[LienHe] ON 

INSERT [dbo].[LienHe] ([LienHeID], [HoTen], [SoDienThoai], [NoiDung]) VALUES (1, N'TRabg', N'75463562', N'fgfgdf')
INSERT [dbo].[LienHe] ([LienHeID], [HoTen], [SoDienThoai], [NoiDung]) VALUES (3, N'TRabg', N'0949692245', NULL)
INSERT [dbo].[LienHe] ([LienHeID], [HoTen], [SoDienThoai], [NoiDung]) VALUES (4, N'TRabg', N'0908890', N'd')
SET IDENTITY_INSERT [dbo].[LienHe] OFF
SET IDENTITY_INSERT [dbo].[LoaiDoGiat] ON 

INSERT [dbo].[LoaiDoGiat] ([LoaiDoGiatID], [TenLoaiDoGiat], [MoTa]) VALUES (1, N'Áo', N'VD: Áo vest, áo gile ')
INSERT [dbo].[LoaiDoGiat] ([LoaiDoGiatID], [TenLoaiDoGiat], [MoTa]) VALUES (2, N'Chăn, ga, gối , màn', N'Các loại chăn ga gối màn')
INSERT [dbo].[LoaiDoGiat] ([LoaiDoGiatID], [TenLoaiDoGiat], [MoTa]) VALUES (1002, N'Đồ da', NULL)
SET IDENTITY_INSERT [dbo].[LoaiDoGiat] OFF
SET IDENTITY_INSERT [dbo].[LoaiTaiKhoan] ON 

INSERT [dbo].[LoaiTaiKhoan] ([LoaiTaiKhoanID], [TenLoai]) VALUES (1, N'Khách hàng')
INSERT [dbo].[LoaiTaiKhoan] ([LoaiTaiKhoanID], [TenLoai]) VALUES (2, N'Nhân viên quản lý ')
INSERT [dbo].[LoaiTaiKhoan] ([LoaiTaiKhoanID], [TenLoai]) VALUES (3, N'Nhân viên giao hàng')
SET IDENTITY_INSERT [dbo].[LoaiTaiKhoan] OFF
SET IDENTITY_INSERT [dbo].[LuotTruyCap] ON 

INSERT [dbo].[LuotTruyCap] ([LuotTruyCapId], [IP], [ThoiGian], [ThietBi], [TrangTruyCapDauTien]) VALUES (1, N'::1', CAST(N'2020-02-26T10:06:33.847' AS DateTime), N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.122 Safari/537.36', N'http://localhost:8888/')
INSERT [dbo].[LuotTruyCap] ([LuotTruyCapId], [IP], [ThoiGian], [ThietBi], [TrangTruyCapDauTien]) VALUES (2, N'::1', CAST(N'2020-02-26T10:06:48.093' AS DateTime), N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.122 Safari/537.36', N'http://localhost:8888/Home/LienHe')
INSERT [dbo].[LuotTruyCap] ([LuotTruyCapId], [IP], [ThoiGian], [ThietBi], [TrangTruyCapDauTien]) VALUES (3, N'::1', CAST(N'2020-02-26T10:07:00.390' AS DateTime), N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.122 Safari/537.36', N'http://localhost:8888/home/themlienhe')
GO
SET IDENTITY_INSERT [dbo].[LuotTruyCap] OFF
SET IDENTITY_INSERT [dbo].[NguoiDung] ON 

INSERT [dbo].[NguoiDung] ([NguoiDungID], [TenNguoiDung], [SoDienThoai], [SoKhac], [DiaChi], [TaiKhoan], [Facebook], [Gmail], [DiemThuong]) VALUES (1002, N'Nguyễn Huyền Trang', N'0949692245', N'', N'ABCXYZ', N'Minh ', N'Luong Minh', N'Minhh', 20700)
INSERT [dbo].[NguoiDung] ([NguoiDungID], [TenNguoiDung], [SoDienThoai], [SoKhac], [DiaChi], [TaiKhoan], [Facebook], [Gmail], [DiemThuong]) VALUES (1003, N'Đỗ Văn Tùng', N'0949692246', N'0949692246', N'anv', N'mmm', N'aaa', N'aaa', 0)
INSERT [dbo].[NguoiDung] ([NguoiDungID], [TenNguoiDung], [SoDienThoai], [SoKhac], [DiaChi], [TaiKhoan], [Facebook], [Gmail], [DiemThuong]) VALUES (1004, N'Minh', N'3103413202', N'', N'4704  Hillcrest Lane', NULL, NULL, N'luongminh3111999@gmail.com', 0)
SET IDENTITY_INSERT [dbo].[NguoiDung] OFF
ALTER TABLE [auth].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_CoSo] FOREIGN KEY([CoSoID])
REFERENCES [dbo].[CoSo] ([CoSoID])
GO
ALTER TABLE [auth].[Users] CHECK CONSTRAINT [FK_Users_CoSo]
GO
ALTER TABLE [auth].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_LoaiTaiKhoan] FOREIGN KEY([LoaiTaiKhoanID])
REFERENCES [dbo].[LoaiTaiKhoan] ([LoaiTaiKhoanID])
GO
ALTER TABLE [auth].[Users] CHECK CONSTRAINT [FK_Users_LoaiTaiKhoan]
GO
ALTER TABLE [auth].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_NhanVien] FOREIGN KEY([HoTen])
REFERENCES [dbo].[NhanVien] ([NhanVienID])
GO
ALTER TABLE [auth].[Users] CHECK CONSTRAINT [FK_Users_NhanVien]
GO
ALTER TABLE [dbo].[ChiTietDoGiat]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDoGiat_DoGiat] FOREIGN KEY([DoGiatID])
REFERENCES [dbo].[DoGiat] ([DoGiatID])
GO
ALTER TABLE [dbo].[ChiTietDoGiat] CHECK CONSTRAINT [FK_ChiTietDoGiat_DoGiat]
GO
ALTER TABLE [dbo].[ChiTietDoGiat]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDoGiat_HinhThucGiat] FOREIGN KEY([HinhThucGiatID])
REFERENCES [dbo].[HinhThucGiat] ([HinhThucGiatID])
GO
ALTER TABLE [dbo].[ChiTietDoGiat] CHECK CONSTRAINT [FK_ChiTietDoGiat_HinhThucGiat]
GO
ALTER TABLE [dbo].[ChiTietDoGiat]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDoGiat_KhachDatHang] FOREIGN KEY([KhachDatHangID])
REFERENCES [dbo].[KhachDatHang] ([KhachDatHangID])
GO
ALTER TABLE [dbo].[ChiTietDoGiat] CHECK CONSTRAINT [FK_ChiTietDoGiat_KhachDatHang]
GO
ALTER TABLE [dbo].[DoGiat]  WITH CHECK ADD  CONSTRAINT [FK_DoGiat_LoaiDoGiat] FOREIGN KEY([LoaiDoGiatID])
REFERENCES [dbo].[LoaiDoGiat] ([LoaiDoGiatID])
GO
ALTER TABLE [dbo].[DoGiat] CHECK CONSTRAINT [FK_DoGiat_LoaiDoGiat]
GO
ALTER TABLE [dbo].[DonGia]  WITH CHECK ADD  CONSTRAINT [FK_DonGia_DoGiat] FOREIGN KEY([DoGiatID])
REFERENCES [dbo].[DoGiat] ([DoGiatID])
GO
ALTER TABLE [dbo].[DonGia] CHECK CONSTRAINT [FK_DonGia_DoGiat]
GO
ALTER TABLE [dbo].[DonGia]  WITH CHECK ADD  CONSTRAINT [FK_DonGia_HinhThucGiat] FOREIGN KEY([HinhThucGiatID])
REFERENCES [dbo].[HinhThucGiat] ([HinhThucGiatID])
GO
ALTER TABLE [dbo].[DonGia] CHECK CONSTRAINT [FK_DonGia_HinhThucGiat]
GO
ALTER TABLE [dbo].[KhachDatHang]  WITH CHECK ADD  CONSTRAINT [FK_KhachDatHang_NguoiDung] FOREIGN KEY([NguoiDungID])
REFERENCES [dbo].[NguoiDung] ([NguoiDungID])
GO
ALTER TABLE [dbo].[KhachDatHang] CHECK CONSTRAINT [FK_KhachDatHang_NguoiDung]
GO
ALTER TABLE [dbo].[KhachDatHang]  WITH CHECK ADD  CONSTRAINT [FK_KhachDatHang_NhanVien] FOREIGN KEY([UserID])
REFERENCES [dbo].[NhanVien] ([NhanVienID])
GO
ALTER TABLE [dbo].[KhachDatHang] CHECK CONSTRAINT [FK_KhachDatHang_NhanVien]
GO
ALTER TABLE [dbo].[KhachDatHang]  WITH CHECK ADD  CONSTRAINT [FK_KhachDatHang_Users] FOREIGN KEY([UserID])
REFERENCES [auth].[Users] ([UserId])
GO
ALTER TABLE [dbo].[KhachDatHang] CHECK CONSTRAINT [FK_KhachDatHang_Users]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_CoSo] FOREIGN KEY([CoSoID])
REFERENCES [dbo].[CoSo] ([CoSoID])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_CoSo]
GO
USE [master]
GO
